/* body {
    background-color: rgb(198, 217, 244);
     background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(src/assets/Images/img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
} */
.section {
  padding: 80px 0;
  display: block;
}
.contact {
  position: relative;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(src/assets/Images/img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.contact-header {
  position: relative;
  top: 50px;
  color: #0a2f78;
}
.title {
  margin-bottom: 3rem;
  padding-bottom: 1.5rem !important;
}

@media (max-width: 991.98px) {
  .contact {
    padding: 300px 0 0;
  }

  .contact .contact-form-card {
    border-bottom: 1px solid #dee2e6;
  }

  .contact .contact-form-card,
  .contact .contact-info-card {
    min-height: auto !important;
  }
}

.contact-form-card,
.contact-info-card {
  padding: 35px;
  background: #f5f5f5;
  min-height: 500px;
  padding-right: 20px;
}
.contact-title {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03125em;
}

.contact-title::after {
  content: "";
  width: 30px;
  height: 2px;
  background: #6c7684;
  display: block;
  margin-top: 10px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 1rem;
}

.d-inline {
  display: inline;
  font-size: 15px;
}

.text-muted {
  color: #6c757d !important;
}
.col-lg-8 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 0.8px;
}
@media (min-width: 992px) {
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}

.form-group {
  margin-bottom: 1rem;
}
.form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 0.375rem 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.form-control:focus {
  background-color: #fff;
  border-color: #58cbf4;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #c6d9f4;
}
.form-sub {
  width: 100%;
  height: 38px;
}
.form-sub:focus {
  background-color: #84b9e4;
  border-color: #58cbf4;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #c6d9f4;
}
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.resize {
  resize: none;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 1px solid rgb(164, 202, 203);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    -webkit-transition: none;
    transition: none;
  }
}

.btn-info {
  background-color: rgb(1, 132, 225);
  color: white;
}

.btn-info:hover {
  filter: brightness(90%);
}

.col-lg-4 {
  position: relative;
  width: 100%;
  padding-right: 0px;
  padding-left: 15px;
}
@media (min-width: 992px) {
  .col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}
.col-10 {
  position: relative;
  width: 100%;
  padding-right: 0px;
  padding-left: 35px;
}
.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.social-icons {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  max-width: 250px;
  padding-top: 3rem;
}
.social-link {
  font-size: 18px;
}
.text-inf {
  color: rgb(21, 128, 209);
}

a.text-inf:hover,
a.text-inf:focus {
  color: #0d5d61;
}

textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
textarea.form-control {
  height: auto;
}
.fa {
  padding: 10px;
  font-size: 25px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.footer {
  background-color: rgb(1, 132, 225);
  text-align: center;
  padding: 0.8rem;
  color: white;
}
