<div class="body">
    <div class="head">
        <app-header></app-header>
    </div>
    <div class="body">

        <header>
            <div class="header-content">
		<h1>ABOUT US</h1>
		<div class="line"></div>
	<h2>"Empowering Dreams, One Loan at a Time."
	</h2>
	</div>
	</header>
    <div class="section11">
    <div class="image">
      <img src="assets/Images/g1.jpg"><br>
	  <br>
    </div>
    <div class="text">
        
        <h1>Speed Up the Loan Process</h1>
		<br>
        <p>  
		Welcome to YOURBANK Loan Management, your trusted partner in financial success. At YOURBANK, we understand the significance of financial decisions in shaping your life's journey. Our mission is to provide accessible and responsible financial solutions to individuals and businesses alike.
        , we are committed to fostering financial well-being and contributing to your success. Whether you're planning for a home, education, or business, we are here to support your aspirations. Thank you for choosing YOURBANK Loan Management as your trusted financial partner. We look forward to being a part of your financial journey.
      </p>
    </div>
  </div>
 
			<div class="row mt-md-5 mt-4 image-grids">
                <div class="col-lg-3 col-6 grid4 mb-5">
					<img src="assets/Images/a1.png" alt="" class="img-fluid">
					<h3 class="mt-3">Flexible Repayment </h3>
					<p class="">  We understand that financial circumstances can change. That's why we offer flexible repayment options to accommodate your needs. Whether you prefer fixed monthly payments or need a more tailored schedule.</p>
				</div>
				<div class="col-lg-3 col-6 grid5 mb-5">
                    <img src="assets/Images/a2.png" alt="" class="img-fluid">
					<h3 class="mt-3">Security</h3>
					<p class=""> Your security is our priority. Our loan management system employs robust encryption and security measures to protect your personal and financial information. Rest assured that your data is handled with the secure.</p>
				</div>
				<div class="col-lg-3 col-6 grid6 mb-5">
                    <img src="assets/Images/a3.png" alt="" class="img-fluid">
					<h3 class="mt-3"> Responsible Borrowing</h3>
					<p class="">We appreciate responsible financial behavior. Our reward programs recognize and incentivize borrowers who make timely payments and demonstrate sound financial management</p>
				</div>
				<div class="col-lg-3 col-6 grid7 mb-5">
                    <img src="assets/Images/a2.png" alt="" class="img-fluid">
					<h3 class="mt-3">Financial Health</h3>
					<p class=""> Gain insights into your overall financial health with our financial assessment tools. Understand your budget, identify areas for improvement.</p>
				</div>
			</div>
            
            <section class="clients1">
	<div class="subscribe py-5">
		<div class="container py-sm-4">
            <h3 class="heading mb-md-5 mb-4">Subscribe for <strong> Queries and updates</strong></h3>
			<div class="row">
                <div class="col-lg-6 w3-w3pvt-subscribe">
                    <form action="#" method="post">
                        <input type="email" name="email" placeholder="Enter your email here" required="">
						<button class="btn1"><span class="fa fa-paper-plane" aria-hidden="true"></span></button>
					</form>
					<p>We'll never share your email with anyone else.</p>
				</div>
				<div class="col-lg-6 mt-lg-0 mt-4">
                    <h4>Sign up for the latest banking & financial related news and updates.</h4>
				</div>
			</div>
		</div>
	</div>
</section>
	<section class="clients2">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 mb-4">
                    <h3 class="my-sm-3 mb-2"><span class="fa mr-2 fa-mobile"></span> Mobile Apps</h3>
					<p class="mb-sm-4"> Our user-friendly interface is designed with you in mind. Enjoy a seamless and intuitive online banking experience that puts you in control.</p>
				</div>
				<div class="col-lg-3 col-sm-6 mb-4">
                    <h3 class="my-sm-3 mb-2"><span class="fa mr-2 fa-mobile"></span>  Secure Transactions</h3>
					<p class="mb-sm-4"> Our robust security measures ensure that your online transactions are safe and secure</p>
				</div>
				<div class="col-lg-3 col-sm-6 mb-4">
                    <h3 class="my-sm-3 mb-2"><span class="fa mr-2 fa-globe"></span> Innovation at its Core</h3>
					<p class="mb-sm-4">  We embrace technology to bring you the latest advancements in online banking. From AI-driven insights to real-time updates, we keep you ahead in the fast-paced financial world.</p>
				</div>
				<div class="col-lg-3 col-sm-6 mb-4">
                    <h3 class="my-sm-3 mb-2"><span class="fa mr-2 fa-phone"></span> 24/7 Support</h3>
					<p class="mb-4"> Our customer support team is always ready to assist you, day or night.</p>
				</div>
			</div>
		</div>
	</section>
</div>
<div class="footer">
	<app-footer></app-footer>
</div>
</div>