<div class="body">
  <div class="left">
    <div class="img">
      <img src="assets/Images/bg-login.jpg" alt="">
    </div>
  </div>
  <div class="right">
    <div class="box">
      <div class="bank-name">
        <img src="assets/Images/bank-name-black.png" alt="">
      </div>
      <div class="title">
        <h3>Login Page</h3>
      </div>
      <div class="form">
        <form (ngSubmit)="login()">
          <div class="inputs">
            <div class="">
          <label for="role">Im a  : </label>
          <select name="role" id="role" [(ngModel)]="loginData.role" style="margin-left: 10px;">
            <option value="user" selected>User</option>
            <option value="admin">Admin</option>
          </select>
        </div>
            <div class="mail form_ele">
              <input
                type="email"
                class="form-control"
                [(ngModel)]="loginData.email"
                name="email"
                placeholder="Enter your email"
              />
            </div>
            <div class="password form_ele">
              <input
                [type]="pass"
                class="form-control"
                [(ngModel)]="loginData.password"
                name="password"
                placeholder="Enter password"
              />
              <i (click)="show()" [class]="eye"></i>
            </div>
          </div>
          <div class="form_btns">
            <div class="button form_ele">
              <button>Continue</button>
            </div>
          </div>
        </form>
        <!-- <div class="signin">
            <p>Don’t have an account? <a routerLink="/signup">Sign up</a></p>
          </div> -->
      </div>
    </div>
  </div>
</div>
