<div class="body">
    <div class="header">
      <app-header></app-header>
    </div>
  
  
    <section class="features-section">
      <h2>Learn More About Our Loan Services</h2><br>
      <div class="features">
        <div class="feature-item">
          <img src="assets/Images/home-page8.jpg" alt="Flexible Repayment Image" class="banner-image"><br><br>
          <h3>Our Loan Offerings</h3>
          <p>At our loan service, we offer various loan options tailored to suit your needs.
            Whether it's a personal loan, home loan, or business loan, we've got you covered.
            Our competitive interest rates and flexible repayment plans make borrowing hassle-free.</p>
        </div>
        <div class="feature-item">
          <img src="assets/Images/home-page9.jpg" alt="Quick Approval Image" class="banner-image" > <br><br>
          <h3>Loan Application Process</h3>
          <p> Applying for a loan with us is simple and straightforward. Fill out our online application form
            with basic information, submit the necessary documents, and our team will guide you through the
            approval process. We prioritize a quick and efficient process to get you the funds you need.</p>
        </div>
        <div class="feature-item">
          <img src="assets/Images/home-page10.jpg" alt="No Hidden Fees Image" class="banner-image"> 
          <h3>Loan Requirements</h3>
          <p>To qualify for a loan, you'll typically need to provide identification,
            proof of income, and other supporting documents. Our team will guide you
            through the specific requirements for your chosen loan type.</p>
        </div>
      </div>
    </section>
  
  <br>
    
      <section class="benefits">
        <h3>Benefits of Choosing Us</h3>
        <ul>
          <li>Quick approval and disbursal of funds</li>
          <li>Competitive interest rates</li>
          <li>Flexible repayment options</li>
          <li>Personalized customer service</li>
          <li>No hidden fees or charges</li>
        </ul>
      </section>
    
      
    
      <section class="faq">
  
          
  
        <h3>Frequently Asked Questions</h3>
        
        <div class="faq-item">
        <details>
          
          <summary>What loan options do you offer?</summary>
          <br>
          
          <div>
              We offer personal, home, business, and auto loans.
          </div>
          
        </details>
        </div>
  
  <br>
        <div class="faq-item">
          <details>
            
            <summary>How long does the approval process take?</summary>
  
            <br>
            
            <div>
              The approval process usually takes 24 to 48 hours after submission.
            </div>
            
          </details>
          </div>
  
        
      
        <!-- Add more FAQs as needed -->
      </section>
    </div>
    <app-footer></app-footer>